<template>
    <v-app>
        <v-slide-y-transition>
            <v-toolbar v-if="toolbarOn">
                <v-toolbar-side-icon></v-toolbar-side-icon>
                <v-toolbar-title>{{title.title}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down">
                    <router-link tag="div" to="/map">
                        <v-btn flat>На карту</v-btn>
                    </router-link>
                    <v-btn flat>Link Two</v-btn>
                    <v-btn flat>Link Three</v-btn>
                </v-toolbar-items>
            </v-toolbar>

        </v-slide-y-transition>

        <router-view></router-view>
    </v-app>
</template>

<script>

    export default {
        data() {
            return {
                drawer: true,
                items: [
                    {title: 'Home', icon: 'dashboard'},
                    {title: 'About', icon: 'question_answer'}
                ],
                mini: true,
                right: null,
                footer: window.location.href.indexOf('/map') > -1
            }
        },
        computed: {
            toolbarOn() {
                return ![/\/map/, /\/course\/[0-9]/].find((e) => {
                    return e.test(this.$route.path);
                });
            },
            title() {
                return [{
                    path: /\/catalog/,
                    title: 'Каталог'
                }].find(e => e.path.test(this.$route.path)) || 'title';
            }
        }
    }
</script>


<style>

</style>
