<template>
    <v-layout justify-center mt-5>
        <v-flex xl6 sm8 pr-3>
            <template>
                <v-toolbar
                        dark
                        color="blue-grey"
                >
                    <v-toolbar-title>Поиск</v-toolbar-title>
                    <v-autocomplete

                            :loading="isUpdating"
                            :items="searchAutoComplete"
                            :search-input.sync="searchInput"
                            class="mx-3"
                            flat
                            item-text="name"
                            item-value="name"
                            hide-no-data
                            hide-details
                            label="Поиск по мероприятиям"
                            solo-inverted
                    ></v-autocomplete>
                    <v-btn icon @click="search">
                        <v-icon>search</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-progress-linear
                        :active="isUpdating"
                        class="ma-0"
                        color="green lighten-3"
                        height="4"
                        indeterminate
                ></v-progress-linear>
            </template>
            <v-layout mt-4 row wrap>
                <v-flex pa-2 xs4 v-for="event in events" :key="'event' + event.id">


                    <!--<v-card >
                        <v-img
                                :src="event.header ? event.header : 'https://cdn.vuetifyjs.com/images/cards/desert.jpg'"
                                aspect-ratio="2.75"
                        ></v-img>

                        <v-card-title primary-title>
                            <div>
                                <h3 class="headline mb-0">{{event.name}}</h3>
                                <div> {{ event.description }}</div>
                            </div>
                        </v-card-title>

                        <v-card-actions>
                            <v-btn flat color="orange">Share</v-btn>
                            <v-btn flat color="orange">Explore</v-btn>
                        </v-card-actions>
                    </v-card>-->


                    <v-card>
                        <v-img
                                :src="event.header ? event.header : 'https://cdn.vuetifyjs.com/images/cards/desert.jpg'"
                                height="100px"
                        >
                        </v-img>

                        <v-card-title>
                            <div>
                                <div class="headline">{{event.name}}</div>
                                <span class="grey--text">{{ event.address ? event.address : "ул. Смотри на карте 47, кв 228" }}</span>
                            </div>
                        </v-card-title>

                        <v-card-text style="top: 20px">
                            {{event.description}}
                        </v-card-text>


                        <v-list two-line>
                            <v-subheader>Преподаватели: </v-subheader>
                            <template v-for="(teacher, index) in event.lecturers">

                                <v-divider v-if="index > 0 " :key="'divider' + index" :inset="true"></v-divider>

                                <v-list-tile :key="teacher.firstName  + index" avatar @click="">
                                    <v-list-tile-avatar>
                                        <img :src="teacher.avatar">
                                    </v-list-tile-avatar>

                                    <v-list-tile-content>
                                        <v-list-tile-title v-html="teacher.firstName"></v-list-tile-title>
                                        <v-list-tile-sub-title v-html="teacher.description"></v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </template>
                        </v-list>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <router-link tag="div" :to="'/course/' + event.id">
                                <v-btn flat color="purple">Подробнее</v-btn>
                            </router-link>
                        </v-card-actions>

                    </v-card>

                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xl2 sm3>
            <v-card>
                <v-card-title class="headline font-weight-regular blue-grey white--text">Фильтр по тэгам</v-card-title>
                <v-card-text>
                    <v-autocomplete
                            v-model="selectedTagsName"
                            :items="tags"
                            hint="Поиск по тэгам"
                            chips
                            label="Поиск по тэгам"
                            color="blue-grey lighten-2"
                            item-text="name"
                            item-value="name"
                            multiple
                            prepend-icon="tag"
                    >
                        <template v-slot:selection="data">
                            <v-chip
                                    :selected="data.selected"
                                    close
                                    class="chip--select-multi"
                                    @input="remove(data.item)"
                            >
                                {{ data.item.name }}
                            </v-chip>
                        </template>

                        <template v-slot:item="data">
                            <template>
                                <v-list-tile-content @click="selectedTags.push(data.item)">
                                    <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                                    <!--<v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>-->
                                </v-list-tile-content>
                            </template>
                        </template>
                    </v-autocomplete>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            :disabled="false"
                            :loading="isUpdating"
                            color="blue-grey"
                            depressed
                            @click="search"
                    >
                        <v-icon left>search</v-icon>
                        Фильтровать
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>

    </v-layout>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Catalog.vue",
        data() {
            return {
                tags: [],
                selectedTagsName: [],
                selectedTags: [],
                model: null,
                isUpdating: false,

                searchAutoComplete: [],
                searchInput: null,
                inputTimer: null,

                events: []
            }
        },
        created() {
            axios.get("/tag").then(res => {
                console.log(res.data);
                this.tags = res.data || [];
            }).catch(err => this.courses.push([{id: 7, name: 'Java'}, {id: 8, name: "PareBrick"}]));
            axios.get("/event").then(res => {
                console.log(res.data);
                this.events = res.data || [];
            }).catch(err => this.courses.push([{id: 7, name: 'Java'}, {id: 8, name: "PareBrick"}]))
        },
        computed: {
            tagNames() {
                return this.tags.map(e => e.name)
            }
        },

        watch: {
            isUpdating(val) {
                if (val) {
                    setTimeout(() => (this.isUpdating = false), 10000)
                }
            },
            searchInput(val) {
                if (val) {
                    let self = this;
                    if (this.inputTimer) clearTimeout(this.seachCallback);
                    if (val.length <= 1) {
                        self.searchAutoComplete = [];
                        return;
                    }
                    this.inputTimer = setTimeout(async function () {
                        let data = (await axios.get('/event?name=' + val)).data;
                        console.table(data);
                        self.searchAutoComplete = data || [];
                        self.searchAutoComplete.unshift(val);
                    },500)
                }
            }
        },

        methods: {
            remove(item) {
                let index = this.selectedTagsName.indexOf(item.name);
                if (index >= 0) this.selectedTagsName.splice(index, 1)
                index = this.selectedTags.findIndex(e => e.id === item.id);
                if (index >= 0) this.selectedTags.splice(index, 1)
            },
            search() {
                this.isUpdating = true;
                let self = this;
                let params = {};
                console.log(self.selectedTags.map(e => e.id).join(','))

                axios.get('/event', {
                    params: {
                        name: self.searchInput || '',
                        tags: self.selectedTags.length < 1 ? null : self.selectedTags.map(e => e.id).join(',')
                    }
                }).then((res) => {
                    console.log(res);
                    this.isUpdating = false;
                    self.events = res.data;

                })
            },
            say(e) {
                console.log(e);
            }
        }
    }
</script>

<style scoped>

</style>