<template>
    <v-timeline align-top>
        <v-timeline-item
                v-for="(item, i) in lessonsTimeline"
                :key="i"
                color="red lighten-2"
                icon="mdi-buffer"
                fill-dot
        >
            <template v-slot:icon v-if="item.avatar">
                <v-avatar>
                    <img :src="item.avatar">
                </v-avatar>
            </template>
            <template v-slot:opposite>
                <span class="`headline font-weight-bold">{{ item.date + ' ' + item.time}}</span>
            </template>
            <v-card
                    color="red lighten-2"
                    dark
            >
                <v-card-title class="title">{{ item.name}}</v-card-title>
                <v-card-text class="white text--primary">
                    <p>{{item.description}}</p>
                    <v-btn
                            color="red lighten-2"
                            class="mx-0"
                            outline
                    >
                        Скачать все файлы
                    </v-btn>
                </v-card-text>
            </v-card>
        </v-timeline-item>
    </v-timeline>
</template>

<script>
    export default {
        data: () => ({

        }),
        props: ["course"],
        computed: {
            lessonsTimeline() {
                return this.course.lessons.sort((a, b) => {
                    return new Date(a.date) - new Date(b.date)
                }).map((e) => {
                    return {
                        name: e.name,
                        description: e.description,
                        date: e.date.split('T')[0],
                        time: e.date.split('T')[1],
                        avatar: e.avatar,
                    }
                });
            }
        }
    }
</script>